@using NoughtsAndCrosses.Models
@model List<MovesInfoView>
@{
    if (Model.Count > 0)
    {
        foreach (var summary in Model)
        {
            <p>@summary.MoveOwner ходит @summary.Point</p> 
        }
    }
    else
    {
        <p>Нет данных</p>
    }
}