<div class="row">
    <div class="col-xs-4 blankCell" row="0" col="0"></div>
    <div class="col-xs-4 blankCell" row="0" col="1"></div>
    <div class="col-xs-4 blankCell" row="0" col="2"></div>

    <div class="clearfix"></div>
    
    <div class="col-xs-4 blankCell" row="1" col="0"></div>
    <div class="col-xs-4 blankCell" row="1" col="1"></div>
    <div class="col-xs-4 blankCell" row="1" col="2"></div>

    <div class="clearfix"></div>

    <div class="col-xs-4 blankCell" row="2" col="0"></div>
    <div class="col-xs-4 blankCell" row="2" col="1"></div>
    <div class="col-xs-4 blankCell" row="2" col="2"></div>
</div>

@section LeftPanel
{
    @{Html.RenderPartial("_LeftPanel"); }
}
@section RightChat
{
     @{Html.RenderPartial("_Chat"); }
}

@section scripts 
{
    <script type="text/javascript" src="~/Scripts/AjaxHandlers.js"></script>
}



