.blankCell {
    border:solid 2px;
}

.buttons {
    color: black;
    font-family:'Segoe Script';
    font-size:large;
    border:none;
    background-color:white;
}
.buttons:hover {
    color: red;
}
h1, h3, h5 {
    font-family:'Segoe Script';
    color: black;
}
#Chat {
    height: 100px;
    max-height:200px;
    overflow-y: scroll;
}
.changedMargin {
    margin-bottom:8px;
}
.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color:gray;
}